<br>
<br><br>
<body onLoad="load_data()">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.23.0/css/patternfly.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.23.0/css/patternfly-additions.min.css" />

	<!-- Black Header -->


	<div class="container-fluid ng-controller="descriptionController" ng-init="getAllDescription()">


		<!-- Tab panes -->
		<div class="tab-content">

			<!--  Tab SSO Dashaboard -->
			
			<div role="tabpanel" class="tab-pane active" id="sso">


				<div id="tab-sso-content" style="width: 100%; float: left;">
					<div class="row">
					
					   <div class=" col-sm-6 ">
							<!-- Olá Service -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Description du site: demo variable</h3>
									(Java JAX-RS)
								</div>
								<div id="ola-service-secured" class="panel-body">{{hola}}</div>
							</div>
						</div>
						
						<div class=" col-sm-6 ">
							<!-- Olá Service -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Description du site: Blue and Green</h3>
									(NodeJS)
								</div>
								<div id="ola-service-secured" class="panel-body">{{bonjour}}</div>
							</div>
						</div>
						
						<div class=" col-sm-6 ">
							<!-- Olá Service -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Description du site: Pipeline and Canary</h3>
									(vert.x)
								</div>
								<div id="ola-service-secured" class="panel-body">{{aloha}}</div>
							</div>
						</div>
						
					</div>
					
					<a id="refresh-sso2" href="#description" data-ng-click="getAllDescription()"><span class="pficon pficon-refresh"></span>Refresh Results</a>
				</div>
				
			</div>
			
			

			
		</div>
	</div>

</body>

