<br>
<br><br>
<body ng-controller="loginController" ng-init="profile()">
<center><h1><b>Customer Profile</b></h1></center>
<div class="container">
	
		<div class="col-sm-12">
				<div class="col-xs-4">
					
					        <div>Full name : {{loginuserfname}} </div>
							<div>ph number : {{phnum}}</div>
							<div>Email address: {{emailaddr}}</div>
							<div>preffered Address: {{addr}}</div>
							
							<br>
					<br> <br> <br>
					<br>
					<br> <br> <br>
					<br>
					<br> <br> <br>
					<br>
					<br> <br> <br>
					<br> <br> <br>
					<br> <br> <br>
				</div>
				<br>
			</div>
	
</div>
</body>

